

.side_menu
{
	border:groove;
	margin-top:15px;
}

/*.side_menu1
{
	border:groove;
	margin-top:15px;
	width:100px;
	background-color:#CCC;
}

.showhidemenu
{
	display:none;
}
*/

@media (min-width: 1200px)
{
	.button_size1
	{
		width:50px;
		height:75px;
	}
	.button_size2
	{
		min-width:65px;
		height:75px;
	}
	.user_info_div
	{
		width:18vw;
		margin-left:750px;
		margin-top:-85px;
	}
	.doc_name
	{
		margin-left:95px;
		margin-top:-75px;
	}

	.user_roll
	{
		margin-left:95px;
		margin-top:-8px;
	}

	.logout_btn
	{
		margin-left:95px;
		width:60px;
	}
	.date_info_div
	{
		width:50vw;
		margin-left:00px;
		margin-top:20px;
	}
	.patient_list_div
	{
		width:73vw;
		margin-top:20px;
	}
	.patient_detail_tbl
	{
		margin-left:-30px;
	}
	.res_l_b
	{
		margin-top:120px;
	}
}

@media (min-width: 1115px) and (max-width: 1199px)
{
	.button_size1
	{
		width:40px;
		height:70px;
	}
	.button_size2
	{
		min-width:65px;
		height:70px;
	}
	.user_info_div
	{
		width:16vw;
		margin-left:730px;
		margin-top:-80px;
	}
	.doc_name
	{
		margin-left:85px;
		margin-top:-75px;
	}
	.user_roll
	{
		margin-left:85px;
		margin-top:-8px;
	}
	.logout_btn
	{
		margin-left:85px;
		width:50px;
	}
	.date_info_div
	{
		width:50vw;
		margin-left:00px;
		margin-top:20px;
	}
	.patient_list_div
	{
		width:76vw;
		margin-top:20px;
	}
	.patient_detail_tbl
	{
		margin-left:-30px;
	}
	.res_l_b
	{
		margin-top:120px;
	}
}

@media (min-width: 1089px) and (max-width: 1114px)
{
	.button_size1
	{
		width:40px;
		height:70px;
	}
	.button_size2
	{
		min-width:65px;
		height:70px;
	}
	.user_info_div
	{
		width:20vw;
		margin-left:00px;
		margin-top:00px;
	}
	.doc_name
	{
		margin-left:85px;
		margin-top:-75px;
	}
	.user_roll
	{
		margin-left:85px;
		margin-top:-8px;
	}
	.logout_btn
	{
		margin-left:85px;
		width:50px;
	}
	.date_info_div
	{
		width:50vw;
		margin-left:00px;
		margin-top:20px;
	}
	.patient_list_div
	{
		width:64vw;
		margin-top:20px;
	}
	.patient_detail_tbl
	{
		margin-left:-30px;
	}
	.res_l_b
	{
		margin-top:120px;
	}
}

@media (min-width: 989px) and (max-width: 1088px)
{
	.button_size1
	{
		width:40px;
		height:70px;
	}
	.button_size2
	{
		min-width:65px;
		height:70px;
	}
	.user_info_div
	{
		width:20vw;
		margin-left:00px;
		margin-top:00px;
	}
	.doc_name
	{
		margin-left:85px;
		margin-top:-75px;
	}
	.user_roll
	{
		margin-left:85px;
		margin-top:-8px;
	}
	.logout_btn
	{
		margin-left:85px;
		width:50px;
	}
	.date_info_div
	{
		width:50vw;
		margin-left:00px;
		margin-top:20px;
	}
	.patient_list_div
	{
		width:64vw;
		margin-top:20px;
	}
	.patient_detail_tbl
	{
		margin-left:-30px;
	}
	.res_l_b
	{
		margin-top:120px;
	}
}

@media (min-width: 780px) and (max-width: 988px)
{
	.button_size1
	{
		width:40px;
		height:70px;
	}
	.button_size2
	{
		min-width:45px;
		height:70px;
	}
	.user_info_div
	{
		width:20vw;
		margin-left:00px;
		margin-top:00px;
	}
	.doc_name
	{
		margin-left:85px;
		margin-top:-75px;
	}
	.user_roll
	{
		margin-left:85px;
		margin-top:-8px;
	}
	.logout_btn
	{
		margin-left:85px;
		width:50px;
	}
	.date_info_div
	{
		width:50vw;
		margin-left:00px;
		margin-top:20px;
	}
	.patient_list_div
	{
		width:64vw;
		margin-top:20px;
	}
	.patient_detail_tbl
	{
		margin-left:-10px;
	}
	.res_l_b
	{
		margin-top:120px;
	}
}

@media (min-width: 689px) and (max-width: 779px)
{
	.button_size1
	{
		width:40px;
		height:70px;
	}
	.button_size2
	{
		min-width:60px;
		height:70px;
	}
	.user_info_div
	{
		width:25vw;
		margin-left:00px;
		margin-top:00px;
	}
	.doc_name
	{
		margin-left:85px;
		margin-top:-75px;
	}
	.user_roll
	{
		margin-left:85px;
		margin-top:-8px;
	}
	.logout_btn
	{
		margin-left:85px;
		width:50px;
	}
	.date_info_div
	{
		width:50vw;
		margin-left:00px;
		margin-top:20px;
	}
	.patient_list_div
	{
		width:64vw;
		margin-top:20px;
	}
	.patient_detail_tbl
	{
		margin-left:120px;
		margin-top:-120px;
	}
	.res_l_b
	{
		margin-top:00px;
	}
	
}

@media (min-width: 481px) and (max-width: 688px)
{
	.button_size1
	{
		width:40px;
		height:70px;
	}
	.button_size2
	{
		min-width:43px;
		height:70px;
	}
	.user_info_div
	{
		width:30vw;
		margin-left:00px;
		margin-top:00px;
	}
	.doc_name
	{
		margin-left:85px;
		margin-top:-75px;
	}
	.user_roll
	{
		margin-left:85px;
		margin-top:-8px;
	}
	.logout_btn
	{
		margin-left:85px;
		width:50px;
	}
	.date_info_div
	{
		width:50vw;
		margin-left:00px;
		margin-top:20px;
	}
	.patient_list_div
	{
		width:64vw;
		margin-top:20px;
	}
	.patient_detail_tbl
	{
		margin-left:120px;
		margin-top:-120px;
	}
	.res_l_b
	{
		margin-top:00px;
	}
}

@media (min-width: 40px) and (max-width: 480px)
{
	.user_info_div
	{
		width:40vw;
		margin-left:00px;
		margin-top:00px;
	}
	.doc_name
	{
		margin-left:85px;
		margin-top:-75px;
	}
	.user_roll
	{
		margin-left:85px;
		margin-top:-8px;
	}
	.logout_btn
	{
		margin-left:85px;
		width:50px;
	}
	.date_info_div
	{
		width:60vw;
		margin-left:00px;
		margin-top:20px;
	}
	.patient_list_div
	{
		width:75vw;
		margin-top:20px;
	}
	.patient_detail_tbl
	{
		margin-left:120px;
		margin-top:-120px;
	}
	.res_l_b
	{
		margin-top:00px;
	}

}