

.side_menu
{
	border:groove;
	margin-top:15px;
}

.side_menu1
{
	border:groove;
	margin-top:15px;
	width:100px;
	background-color:#CCC;
}

.showhidemenu
{
	display:none;
}


@media (min-width: 1200px)
{
	.dir_link
	{
		width:54vw;
	}
	.user_info_div
	{
		width:18vw;
		margin-left:740px;
		margin-top:-40px;
	}
	.doc_name
	{
		margin-left:95px;
		margin-top:-75px;
	}

	.user_roll
	{
		margin-left:95px;
		margin-top:-8px;
	}

	.logout_btn
	{
		margin-left:95px;
		width:60px;
	}
	.patient_list_div
	{
		width:73vw;
		margin-top:20px;
	}
	.ans_chk_box
	{
		margin-left:300px;
	}
	.line_align
	{
		margin-left:-120px;
		margin-top:10px;
	}
	.regi_btn
	{
		margin-top:20px;
	}
}

@media (min-width: 1115px) and (max-width: 1199px)
{
	.dir_link
	{
		width:54vw;
	}
	.user_info_div
	{
		width:18vw;
		margin-left:690px;
		margin-top:-36px;
	}
	.doc_name
	{
		margin-left:85px;
		margin-top:-75px;
	}
	.user_roll
	{
		margin-left:85px;
		margin-top:-8px;
	}
	.logout_btn
	{
		margin-left:85px;
		width:50px;
	}
	.patient_list_div
	{
		width:76vw;
		margin-top:20px;
	}
	.ans_chk_box
	{
		margin-left:300px;
	}
	.line_align
	{
		margin-left:-120px;
		margin-top:10px;
	}
	.regi_btn
	{
		margin-top:20px;
	}
}

@media (min-width: 1089px) and (max-width: 1114px)
{
	.dir_link
	{
		width:50vw;
	}
	.user_info_div
	{
		width:18vw;
		margin-left:520px;
		margin-top:-36px;
	}
	.doc_name
	{
		margin-left:85px;
		margin-top:-75px;
	}
	.user_roll
	{
		margin-left:85px;
		margin-top:-8px;
	}
	.logout_btn
	{
		margin-left:85px;
		width:50px;
	}
	.patient_list_div
	{
		width:64vw;
		margin-top:20px;
	}
	.ans_chk_box
	{
		margin-left:300px;
	}
	.line_align
	{
		margin-left:-120px;
		margin-top:10px;
	}
	.regi_btn
	{
		margin-top:20px;
	}
}

@media (min-width: 989px) and (max-width: 1088px)
{
	.dir_link
	{
		width:48vw;
	}
	.user_info_div
	{
		width:18vw;
		margin-left:480px;
		margin-top:-36px;
	}
	.doc_name
	{
		margin-left:85px;
		margin-top:-75px;
	}
	.user_roll
	{
		margin-left:85px;
		margin-top:-8px;
	}
	.logout_btn
	{
		margin-left:85px;
		width:50px;
	}
	.patient_list_div
	{
		width:64vw;
		margin-top:20px;
	}
	.ans_chk_box
	{
		margin-left:300px;
	}
	.line_align
	{
		margin-left:-120px;
		margin-top:10px;
	}
	.regi_btn
	{
		margin-top:20px;
	}
}

@media (min-width: 780px) and (max-width: 988px)
{
	.dir_link
	{
		width:48vw;
	}
	.user_info_div
	{
		width:23vw;
		margin-left:400px;
		margin-top:-36px;
	}
	.doc_name
	{
		margin-left:85px;
		margin-top:-75px;
	}
	.user_roll
	{
		margin-left:85px;
		margin-top:-8px;
	}
	.logout_btn
	{
		margin-left:85px;
		width:50px;
	}
	.patient_list_div
	{
		width:64vw;
		margin-top:20px;
	}
	.ans_chk_box
	{
		margin-left:180px;
	}
	.line_align
	{
		margin-left:-120px;
		margin-top:10px;
	}
	.regi_btn
	{
			margin-top:20px;
	}
}

@media (min-width: 689px) and (max-width: 779px)
{
	.dir_link
	{
		width:48vw;
	}
	.user_info_div
	{
		width:30vw;
		margin-left:00px;
		margin-top:00px;
	}
	.doc_name
	{
		margin-left:85px;
		margin-top:-75px;
	}
	.user_roll
	{
		margin-left:85px;
		margin-top:-8px;
	}
	.logout_btn
	{
		margin-left:85px;
		width:50px;
	}
	.patient_list_div
	{
		width:64vw;
		margin-top:20px;
	}
	.ans_chk_box
	{
		margin-left:150px;
	}
	.line_align
	{
		margin-left:-120px;
		margin-top:10px;
	}
	.regi_btn
	{
			margin-top:20px;
	}
	
}

@media (min-width: 481px) and (max-width: 688px)
{
	.dir_link
	{
		width:48vw;
	}
	.user_info_div
	{
		width:40vw;
		margin-left:00px;
		margin-top:00px;
	}
	.doc_name
	{
		margin-left:85px;
		margin-top:-75px;
	}
	.user_roll
	{
		margin-left:85px;
		margin-top:-8px;
	}
	.logout_btn
	{
		margin-left:85px;
		width:50px;
	}
	.patient_list_div
	{
		width:64vw;
		margin-top:20px;
	}
	.ans_chk_box
	{
		margin-left:180px;
	}
	.line_align
	{
		margin-left:-120px;
		margin-top:10px;
	}
	.regi_btn
	{
			margin-top:20px;
	}
}

@media (min-width: 40px) and (max-width: 480px)
{
	.dir_link
	{
		width:48vw;
	}
	.user_info_div
	{
		width:45vw;
		margin-left:00px;
		margin-top:00px;
	}
	.doc_name
	{
		margin-left:85px;
		margin-top:-75px;
	}
	.user_roll
	{
		margin-left:85px;
		margin-top:-8px;
	}
	.logout_btn
	{
		margin-left:85px;
		width:50px;
	}
	.patient_list_div
	{
		width:75vw;
		margin-top:20px;
	}
	.ans_chk_box
	{
		margin-left:180px;
	}
	.line_align
	{
		margin-left:-120px;
		margin-top:10px;
	}
	.regi_btn
	{
			margin-top:20px;
	}
}